<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--
    有关 .NET 4.5 的 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.5"/>
      </system.Web>
  -->
  <system.web>
    <compilation targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <connectionStrings>
    <add name="MYDB" providerName="MySql.Data.MySqlClient" connectionString="server=39.107.229.178;port=3306;database=scrmtest;UID=root;PWD=for_change;charset=utf8; Min Pool Size=1; Max Pool Size=100;"/>
  </connectionStrings>
  <appSettings>
    <!--日志路径-->
    <add key="log.path" value="D:\WCRMLOG"/>
    <!--注册卡类型ID-->
    <add key="open.card.type.id" value="1" />
    <!--注册卡门店ID-->
    <add key="open.card.store.id" value="1" />
    <!--卡级别ID-->
    <add key="card.grade.id" value="1" />
  </appSettings>
  <system.data>
    <DbProviderFactories>
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=8.0.18.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
</configuration>